body {
    display: flex;
    font-size: 16px;
    font-family: monospace;
} .container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
} .main {
    width: 100%;
    height: 100%;
    margin: 50px 100px;
} .flex-1 {
    flex: 1;
} .flex-2 {
    flex: 2;
    justify-content: left;
} .flex-3 {
    flex: 3;
} .flex-4 {
    flex: 4;
} .flex-5 {
    flex: 5;
} .text-center {
    text-align: center;
    justify-content: center;
} .text-left {
    text-align: left;
    justify-content: left;
} .text-right {
    text-align: right;
    justify-content: right;
} .header {
    font-size: 18pt;
    padding: 8pt;
    background: #ccc;
} .border-default {
    border: 1px solid black;
} .pv-4 {
    padding: 4pt 0;
} .pl-4 {
    padding-left: 4pt;
} input[type=text], input[type=number], input[type=email] {
    width: 95%;
    margin-left: 4pt;
} input[type=submit] {
    font-size: 16pt;
    margin-top: 20px;
}